@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
.port-detail-img2 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-bg {
    background-image: url(../../assets/banners/web.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.port-detail-img2 a h2 {
    text-align: center;
    color: rgb(2, 5, 37);
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 413px) {
    .fixed-bg {
        background-position: center;
        height: 60%;
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 840px) {
    .fixed-bg {
        background-position: center;
        height: 60%;
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}


/*
@keyframes blink-animatio {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
} */