<main>

    <!-- Sticky Header -->
    <section>
        <div class="w-100 position-relative">
            <div class="fixed-bg" style="background-image: url(https://miro.medium.com/max/1200/1*pE2fOVDikEUwiQJlh4ggzg.jpeg);"></div>
            <div class="container">
                <div class="page-title text-center w-100">
                    <h1 class="mb-0" style="opacity: 0;">Website developement</h1>
                </div>
                <!-- Page Title -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" title=""><i class="icon_house"></i></a></li>
                    <li class="breadcrumb-item"><a href="portfolio.html" title="">WEBSITE</a></li>
                    <li class="breadcrumb-item active">WEBSITE DEVELOPEMENT</li>
                </ol>
                <!-- Breadcrumb -->
            </div>
        </div>
    </section>
    <section>
        <div class="w-100 pt-155 pb-120 position-relative">
            <div class="container">
                <div class="port-detail-wrap text-center w-100">
                    <div class="port-detail-inner d-inline-block">
                        <span class="d-block">Product Mockup</span>
                        <h2 class="mb-0">WEBSITE DESIGN & <br> DEVELOPEMENT</h2>
                        <p class="mb-0">We are the best one to create and maintain your web presence.An effective web presence will define your business/ Products/ services and improve the demand through customer centric approach. No matter if you are a startup, Growing
                            organization or established one. We have solutions for all.
                        </p>
                    </div>
                </div>
                <!-- Portfolio Detail Wrap -->
            </div>
            <div class="port-detail-video-img position-relative overflow-hidden w-100" style="background-image: url(assets/images/resources/port-video-img.jpg);"><a class="thm-bg position-absolute rounded-circle" href="https://youtu.be/HGSR3FDVkkQ" data-fancybox title=""><i class="arrow_triangle-right"></i></a></div>
            <div class="container">
                <div class="port-detail-img2 w-100">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <a class="d-block mt-30" href="https://www.thekachorihub.com/" target="_blank" title=""><img class="img-fluid w-100" src="assets/webimages/kachori.png" alt="Portfolio Detail Image 1"></a>

                            <a href="https://www.thekachorihub.com/" target="_blank">
                                <h2>The Kachori Hub</h2>
                                <h2>Visit Link</h2>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <a class="d-block mt-30" href="https://www.ctstrength.in/" target="_blank" title=""><img class="img-fluid w-100" src="assets/webimages/ctstrength.png" alt="Portfolio Detail Image 2"></a>
                            <a>
                                <h2>Visit Link</h2>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <a class="d-block mt-30" href="https://www.eduarty.com/" target="_blank" title=""><img class="img-fluid w-100" src="assets/webimages/eduarty.png" alt="Portfolio Detail Image 3"></a>
                            <a>
                                <h2>Visit Link</h2>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <a class="d-block mt-30" href="https://vintagestudios.in/" target="_blank" title=""><img class="img-fluid w-100" src="assets/webimages/vintage.png" alt="Portfolio Detail Image 2"></a>
                            <a>
                                <h2>Visit Link</h2>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <a class="d-block mt-30" href="https://joshibattery.in/" target="_blank" title=""><img class="img-fluid w-100" src="assets/webimages/joshi2.png" alt="Portfolio Detail Image 3"></a>
                            <a>
                                <h2>Visit Link</h2>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
</main>
<!-- Main Wrapper -->
